<div>
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
         <h1>Photo Gallery</h1>
          <hr class="aligncenter">
        </div>
        </div>

        <div class="row">
          <ul>
            <li class="thumbnail col-sm-3"><%= image_tag("milqcutnedge.jpg", :size=>"300x300") %></li>
            <li class="thumbnail col-sm-3"><%= image_tag("lamontcutnedge.jpg", :size=>"300x300") %></li>
            <li class="thumbnail col-sm-3"><%= image_tag("cutnedgechair1.jpg", :size=>"300x300") %></li>
            <li class="thumbnail col-sm-3"><%= image_tag("cutnedgeshop1.jpg") %></li>

            <li class="thumbnail col-sm-3"><%= image_tag("cutnedgechair2.jpg") %></li>
            <li class="thumbnail col-sm-3"><%= image_tag("cutnedgeshop3.jpg") %></li>

            <li class="thumbnail col-sm-3"><%= image_tag("cutnedgeshop4.jpg") %></li>

            <li class="thumbnail col-sm-3"><%= image_tag("cutnedgebarber.jpg") %></li>
          </ul>
        </div>
    </div><!-- /.container -->
</div>